# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Node files
node_modules
dist
dist-ssr
*.local

# Yarn files
*yarn*

# Package lock files
package-lock.json

# Next.js files
.next

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Bash scripts
*.sh

# Text files
*.txt

# Environment vars
.env
