rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // Users collection
    match /users/{userId} {
      allow create: if 
      request.auth != null &&
      userId == request.auth.uid &&
      request.auth.token.firebase.sign_in_provider == 'anonymous' &&
      request.resource.data.id == userId &&
      request.resource.data.cryptowallet is string;

      allow update: if 
      request.auth != null &&
      userId == request.auth.uid &&
      request.resource.data.cryptowallet is string;

      allow read: if request.auth != null && userId == request.auth.uid;
    }

    // Chats collection
    match /chats/{chatId} {
      allow create: if 
      request.auth != null &&
      request.resource.data.owner == request.auth.uid;

      allow read, update, delete: if 
      request.auth != null &&
      resource.data.owner == request.auth.uid;
    }
  }
}
