/* HybridAI/src/styles/sidebar/header.css */

.sidebar-header {
  padding: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border-bottom: 1px solid var(--secondary-color);
}

.logo-container {
  display: flex;
  align-items: center;
  gap: 8px;
  cursor: pointer;
  text-decoration: none;
}

.logo-container img {
  transition: opacity 0.3s ease-in-out;
}

.logo-text {
  color: var(--text-color);
  font-size: 20px;
  font-weight: bold;
}
