/* HybridAI/src/styles/globals.css */

@import "./anim/index.css";
@import "./buttons/index.css";
@import "./central_widget/index.css";
@import "./error/index.css";
@import "./features/index.css";
@import "./modal/index.css";
@import "./sidebar/index.css";
@import "./utils/index.css";
@import "./wallet_page/index.css";

/* Import Tailwind base styles */
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  font-family: "Poppins", sans-serif;
  box-sizing: border-box;
}

body {
  color: var(--text-color);
  background: var(--primary-color);
  transition:
    background-color 0.3s,
    color 0.3s;
}

body.light-theme .suggestions .suggestion-item {
  background: var(--secondary-color);
  border: 1px solid var(--secondary-hover-color);
  color: var(--text-color);
  transition: background 0.3s ease;
}

body.light-theme .suggestions .suggestion-item:hover {
  background: var(--secondary-hover-color);
}
