/* HybridAI/src/styles/central_widget/header/header.css */

.app-header .heading {
  font-size: 3rem;
  width: fit-content;
  background: linear-gradient(to right, #1d559e, #3c95e9);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.app-header .sub-heading {
  font-size: 2.6rem;
  margin-top: -5px;
  color: var(--subheading-color);
}
